# DIRECTORIES
logs/
checkpoints/
out/
out_boundary_*/
out_3class_*
results/

experiments/BBBC022_hand/GT_labels
experiments/BBBC022_hand/DL_labels
experiments/BBBC022_hand/CP_labels
experiments/BBBC022_hand/CP_labels_tiff
experiments/BBBC022_hand/err_img_CP
experiments/BBBC022_hand/err_img_DL
experiments/BBBC022_hand_200/err_img_CP
experiments/BBBC022_hand_200/err_img_DL
experiments/BBBC022_hand_200/results_*
experiments/BBBC022_hand_200/create_input_file_for_CP.ipynb

experiments/BBBC022_hand/IoU_DL
experiments/BBBC022_hand/IoU_CP

experiments/BBBC022_hand/DL_probmap

# PYTHON CLUTTER
__pycache__/
*.pyc

# IMAGES
*.png
*.tiff
*.tif

# NUMPY STUFF
*.npy

# csv files
*.csv

# IPYTHON NOTEBOOK CLUTTER
.ipynb_checkpoints
