# DIRECTORIES
data/
logs/
checkpoints/
out/
results/

experiments/BBBC022_hand/GT_labels
experiments/BBBC022_hand/DL
experiments/BBBC022_hand/CP_images

# PYTHON CLUTTER
__pycache__/
*.pyc

# IPYTHON NOTEBOOK CLUTTER
.ipynb_checkpoints
